certifi==2025.4.26
charset-normalizer==3.4.2
future==1.0.0
gitdb==4.0.12
GitPython==3.1.41
idna==3.10
influxdb==5.3.2
iso8601==2.1.0
msgpack==1.1.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
serial==0.0.97
setuptools==78.1.1
six==1.17.0
smmap==5.0.2
urllib3==2.4.0